<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saludame1</title>
</head>
<body>
    <%unless params[:nombre].nil? || params[:nombre].empty?%>
        <h1>Hola <%=params[:nombre].capitalize%>!</h1>
    <%else%>
        <h1>Hola desconocido!</h1>
    <%end%>
</body>
</html>